@use "../../global/" as *;

.c-box{
  @include pc() {
    padding: 0 $gap * 1.5;
  }
  @include sp() {
    padding: 0 4%;
  }
  &-title{
    margin-bottom:$gap * .5;
    @include pc() {
      font-size:1.8rem;
    }
    @include sp() {
      font-size:1.5rem;
    }
    &:before{
      content:"♠";
      @include pc() {
        font-size:2.4rem;
      }
      @include sp() {
        font-size:2rem;
      }
    }
  }
  &-text{
    @include pc() {
      padding-bottom:$gap * 1.5;
      line-height:2;
    }
    @include sp() {
      padding-bottom:$gap;
      font-size:1.4rem;
      line-height:1.75;
    }
  }
}