@use "../../global/" as *;

.l-footer{
  margin-top: $gap * 2;
  border-top:1px solid $color-main;
  @include pc() {
    padding:$gap * .5 $gap * 1.5;
    text-align:right;
  }
  @include sp() {
    padding:$gap * .5 $gap * 1.5 $gap * 4;
    text-align:center;
  }
  &-copy{
    letter-spacing:.2em;
    @include sp() {
      font-size:1rem;
    }
  }
}