.l-header{
    flex-wrap:wrap;
    position:sticky;
    top:0;
    background:$color-invert;
    border-bottom:1px solid $color-main;
    z-index:1;
    @include pc() {
      display:flex;
    }
    @include sp() {
      display:block;
    }
    &-logo{
      margin:$gap * .5 $gap * .75 $gap * .25;
      @include pc() {
        font-size:3rem;
      }
      @include sp() {
        font-size:2rem;
      }
    }
    &-nav{
      margin-left:auto;
      display:flex;
      & *{
        display:flex;
      }
    }
    &-navList{
      list-style:none;
      @include sp() {
        width:100%;
      }
      &Item{
        border-left:1px solid $color-main;
        @include sp() {
          display:block;
          flex:1;
          border-top:1px solid $color-main;
          &:first-child{
            border-left:none;
          }
        }
        a{
          padding:0 $gap;
          align-items:center;
          @include sp() {
            padding:$gap 0;
            font-size:1.2rem;
            justify-content:center;
          }
        }
      }
    }
    &-floating{
      letter-spacing:.15em;
      width:100%;
      display:flex;
      align-items:center;
      justify-content:space-between;
      z-index:1;
      @include pc() {
        border-top:1px solid $color-main;
      }
      @include sp() {
        border:none;
      }
      &Catch{
        @include pc() {
          padding:0 $gap * 1.5;
          font-weight:700;
        }
        @include sp() {
          padding:$gap * 1.25 $gap * .5 0;
          font-size:1.2rem;
          font-weight:400;
          letter-spacing:1px;
          position:absolute;
          top:0;
          right:0;
        }
      }
      &Nav{
        @include sp() {
          width:100%;
          position:absolute;
          top:100vh;
          transform:translateY(-100%);
        }
        &List{
          list-style:none;
          display:flex;
          @include sp() {
            background:$color-invert;
            border-top:1px solid $color-main;
          }
          &Item{
            border-left:1px solid $color-main;
            @include sp() {
              flex:1;
              &:first-child{
                border-left:none;
              }
            }
            a{
              padding:$gap * .75 $gap * 2;
              text-align:center;
              display:block;
            }
          }
        }
      }
    }
  }