*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  font-size:10px;
}
body{
  font-family: "Noto Sans JP",sans-serif;
  @include pc(){
    font-size:1.6rem;
  }
  @include sp(){
    font-size:1.3rem;
  }
}
ul,
ol{
  list-style:none;
}
a{
  text-decoration:none;
  transition:all .75s ease;
}