*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  font-size:10px;
}
body{
  @include pc(){
    font-size:1.6rem;
    background:$theme-light-color;
  }
  @include sp(){
    font-size:1.3rem;
    background:$light-color;
  }
}
ul,
ol{
  list-style:none;
}