---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Blog index" directory="l-header blog">
  <main  class="l-main">
	<nav class="c-box u-mb-4">
      <ul role="list" class="link-card-grid">
        <Card
          href="/posts/post-1/"
          title="記事1"
          body="記事ディスクリプション…"
        />
        <Card
          href="/posts/post-2/"
          title="記事2"
          body="記事ディスクリプション…"
        />
        <Card
          href="/posts/post-3/"
          title="記事3"
          body="記事ディスクリプション…❤️"
        />
      </ul>
    </nav>
    <section class="c-box">
      <h2 class="c-box-title c-lineLayout">contents01</h2>
      <p class="c-box-text">
        楽しそうに生きてれば、地球の重力なんてなくなる<br>
        その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
        人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
        そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。その場しのぎなんだ。選手に  本当に必要なのは、狂ったバッティングフォームを直してあげることなのに。<br>
        あるわけないことが起きるから、生きてるのは楽しいんだよ。
      </p>
      <p class="c-box-text">
        そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。<br>
		その場しのぎなんだ。選手に<strong class="c-lineDecoration">本当に必要なのは、狂ったバッティングフォームを直してあげること</strong>なのに。<br>
        あるわけないことが起きるから、生きてるのは楽しいんだよ。
        その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
        人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
      </p>
    </section>
	<section class="c-box">
	  <h2 class="c-box-title c-lineLayout">contents02</h2>
	  <p class="c-box-text">
	    楽しそうに生きてれば、地球の重力なんてなくなる<br>
	    その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
	    人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
	    そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。その場しのぎなんだ。選手に  本当に必要なのは、狂ったバッティングフォームを直してあげることなのに。<br>
	    あるわけないことが起きるから、生きてるのは楽しいんだよ。
	  </p>
	  <p class="c-box-text">
	    そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。<br>
	    その場しのぎなんだ。選手に<strong class="c-lineDecoration">本当に必要なのは、狂ったバッティングフォームを直してあげること</strong>なのに。<br>
		あるわけないことが起きるから、生きてるのは楽しいんだよ。
		その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
		人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
	  </p>
	</section>
	<section class="c-box">
	  <h2 class="c-box-title c-lineLayout">contents03</h2>
	  <p class="c-box-text">
	    楽しそうに生きてれば、地球の重力なんてなくなる<br>
	    その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
	    人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
	    そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。その場しのぎなんだ。選手に  本当に必要なのは、狂ったバッティングフォームを直してあげることなのに。<br>
	    あるわけないことが起きるから、生きてるのは楽しいんだよ。
	  </p>
	  <p class="c-box-text">
	    そういうのはさ、スランプ中のバッターに、キャッチャーのサインを盗んで教えるのと一緒なんだよ。<br>
	    その場しのぎなんだ。選手に<strong class="c-lineDecoration">本当に必要なのは、狂ったバッティングフォームを直してあげること</strong>なのに。<br>
	    あるわけないことが起きるから、生きてるのは楽しいんだよ。
	    その通り。わたしやあなたは、<strong class="c-lineDecoration">そのうち宙に浮かぶ</strong><br>
	    人生というのは川みたいなものだから、何をやってようと流されていくんだ。安定とか不安定なんていうのは、大きな川の流れの中  では些細なことなんだ。向かっていく方向に大差がないのなら、<strong class="c-lineDecoration">好きにすればいい</strong><br>
	  </p>
    </section>
  </main>
</Layout>
<style lang="scss">
</style>