---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout
  title="Welcome to Astro."
  directory="u-mt-100vh"
>
	<main>
		<h1>Welcome to <span class="text-gradient">AstroSample</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/"
				title="Home"
				body="Top page."
			/>
			<Card
				href="/about/"
				title="About"
				body="About page."
			/>
			<Card
				href="/blog/"
				title="Blog"
				body="Blog page❤️"
			/>
			<Card
				href="/"
				title="Home"
				body="Top page."
			/>
			<Card
				href="/about/"
				title="About"
				body="About page."
			/>
			<Card
				href="/blog/"
				title="Blog"
				body="Blog page❤️"
			/>
			<Card
				href="/"
				title="Home"
				body="Top page."
			/>
			<Card
				href="/about/"
				title="About"
				body="About page."
			/>
			<Card
				href="/blog/"
				title="Blog"
				body="Blog page❤️"
			/>
		</ul>
	</main>
</Layout>
