@mixin utiLitySpace($prefix:""){
  .#{$prefix}u-mt-100vh{margin-top:100vh !important;}
  .#{$prefix}u-mb-1{margin-bottom:$gap / 2 !important;}
  .#{$prefix}u-mb-2{margin-bottom:$gap !important;}
}
@include utiLitySpace();
@include pc(){
  @include utiLitySpace('pc\\:');
}
@include sp(){
  @include utiLitySpace('sp\\:');
}