@use "../../global/" as *;

@mixin utiLityWidth($prefix:""){
  .#{$prefix}u-width-25per{width:calc((100% - 3 * $gap) / 4) !important;}
  .#{$prefix}u-width-33per{width:calc((100% - 2 * $gap) / 3) !important;}
  .#{$prefix}u-width-50per{width:calc(50% - .5 * $gap) !important;}
  .#{$prefix}u-width-100per{width:100% !important;}
}
@include utiLityWidth();
@include pc(){
  @include utiLityWidth('pc\\:');
}
@include sp(){
  @include utiLityWidth('sp\\:');
}