---
interface Props {
  title: string;
  directory: string;
}

const { title } = Astro.props;
const { directory } = Astro.props;
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles/common/index.scss';
---

<!doctype html>
<html lang="ja" transition:persist>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="https://www.northdetail.co.jp/img/icons/ogimage.jpg">
    <ViewTransitions />
    <title>{title}</title>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="preload" as="font" href="/fonts/NotoSansJP400.woff2" crossorigin>
    <link rel="preload" as="font" href="/fonts/NotoSansJP700.woff2" crossorigin>
    <style>
	@font-face {
	  font-family: 'Noto Sans JP';
	  font-style: normal;
	  font-weight: 400;
	  font-display: swap;
	  src: url('/fonts/NotoSansJP400.woff2') format('woff2'),
		   url('/fonts/NotoSansJP400.woff') format('woff');
	}
	@font-face {
	  font-family: 'Noto Sans JP';
	  font-style: normal;
	  font-weight: 700;
	  font-display: swap;
	  src: url('/fonts/NotoSansJP700.woff2') format('woff2'),
		   url('/fonts/NotoSansJP700.woff') format('woff');
	}
    </style>
  </head>
  <body>
    <header class={directory}>
      <h1 class="l-header-logo c-lineLayout">NorthDetail</h1>
      <nav class="l-header-nav">
        <ul class="l-header-navList">
          <li class="l-header-navListItem">
            <a class="c-textLink top" href="/">Home</a>
          </li>
          <li class="l-header-navListItem">
            <a class="c-textLink about" href="/about/">About</a>
          </li>
          <li class="l-header-navListItem">
            <a class="c-textLink service" href="/service/">Service</a>
          </li>
          <li class="l-header-navListItem">
            <a class="c-textLink recruit" href="/recruit/">Recruit</a>
          </li>
        </ul>
      </nav>
      <dl class="l-header-floating">
        <dt class="l-header-floatingCatch">Create Social Value</dt>
        <dd class="l-header-floatingNav">
          <ul class="l-header-floatingNavList">
            <li class="l-header-floatingNavListItem">
              <a class="c-textLink blog" href="/blog/">Blog</a>
            </li>
            <li class="l-header-floatingNavListItem">
              <a class="c-textLink contact" href="/contact/">Contact</a>
            </li>
          </ul>
        </dd>
      </dl>
    </header>

    <slot />

    <Footer />
  </body>
</html>
<style lang="scss">
.l-header{
  margin-bottom: $gap * 2;
  flex-wrap:wrap;
  position:sticky;
  top:0;
  background:$color-invert;
  border-bottom:1px solid $color-main;
  z-index:1;
  @include pc() {
    display:flex;
  }
  @include sp() {
    display:block;
  }
  &-logo{
    margin:$gap * .5 $gap * .75 $gap * .25;
    @include pc() {
      font-size:3rem;
    }
    @include sp() {
      font-size:2rem;
    }
  }
  &-nav{
    margin-left:auto;
    display:flex;
    & *{
      display:flex;
    }
  }
  &-navList{
    list-style:none;
    @include sp() {
      width:100%;
    }
    &Item{
      border-left:1px solid $color-main;
      @include sp() {
        display:block;
        flex:1;
        border-top:1px solid $color-main;
        &:first-child{
          border-left:none;
        }
      }
      a{
        padding:0 $gap;
        align-items:center;
        @include sp() {
          padding:$gap 0;
          font-size:1.2rem;
          flex: 1;
          justify-content:center;
        }
      }
    }
  }
  &-floating{
    letter-spacing:.15em;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index:1;
    @include pc() {
      border-top:1px solid $color-main;
    }
    @include sp() {
      border:none;
    }
    &Catch{
      @include pc() {
        padding:0 $gap * 1.5;
        font-weight:700;
      }
      @include sp() {
        padding:$gap * 1.25 $gap * .5 0;
        font-size:1.2rem;
        font-weight:400;
        letter-spacing:1px;
        position:absolute;
        top:0;
        right:0;
      }
    }
    &Nav{
      @include sp() {
        width:100%;
        position:absolute;
        top:100vh;
        transform:translateY(-100%);
      }
      &List{
        list-style:none;
        display:flex;
        @include sp() {
          background:$color-invert;
          border-top:1px solid $color-main;
        }
        &Item{
          border-left:1px solid $color-main;
          @include sp() {
            flex:1;
            &:first-child{
              border-left:none;
            }
          }
          a{
            padding:$gap * .75 $gap * 2;
            text-align:center;
            display:block;
          }
        }
      }
    }
  }
  &.top{
    .c-textLink.top{
      color:$color-invert;
      background:$color-main;
    }
  }
  &.about{
    .c-textLink.about{
      color:$color-invert;
      background:$color-main;
    }
  }
  &.service{
    .c-textLink.service{
      color:$color-invert;
      background:$color-main;
    }
  }
  &.recruit{
    .c-textLink.recruit{
      color:$color-invert;
      background:$color-main;
    }
  }
  &.blog{
    .c-textLink.blog{
      color:$color-invert;
      background:$color-main;
    }
  }
  &.contact{
    .c-textLink.contact{
      color:$color-invert;
      background:$color-main;
    }
  }
}
html.dark .l-header{
  background:$dark-color;
  border-bottom:1px solid $color-invert;
  &-navList{
    &Item{
      border-left:1px solid $color-invert;
      @include sp() {
        border-top:1px solid $color-invert;
      }
    }
  }
  &-floating{
    @include pc() {
      border-top:1px solid $color-invert;
    }
    @include sp() {
      border:none;
    }
    &Nav{
      &List{
        @include sp() {
          background:$dark-color;
          border-top:1px solid $color-invert;
        }
        &Item{
          border-left:1px solid $color-invert;
        }
      }
    }
  }
  &.top{
    .c-textLink.top{
      color:$dark-color;
      background:$color-invert;
    }
  }
  &.about{
    .c-textLink.about{
      color:$dark-color;
      background:$color-invert;
    }
  }
  &.service{
    .c-textLink.service{
      color:$dark-color;
      background:$color-invert;
    }
  }
  &.recruit{
    .c-textLink.recruit{
      color:$dark-color;
      background:$color-invert;
    }
  }
  &.blog{
    .c-textLink.blog{
      color:$dark-color;
      background:$color-invert;
    }
  }
  &.contact{
    .c-textLink.contact{
      color:$dark-color;
      background:$color-invert;
    }
  }
}
</style>